# Ignore server-side dependencies
node_modules/
#ignore multer upload files
uploads/
# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore build output (if any)
dist/
build/

# Optional: OS and editor junk
.DS_Store
Thumbs.db
.vscode/
